*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

.navbar{
    position: sticky;
    width:100%;
    border: none;
    margin-top: -4px;
    float: none;
    /*border-radius: 20px;
    display: -webkit-box;
    /display: -ms-flexbox;*/
    display: inline-flex;
    list-style: none;
    background: orange;
    /*border:5px solid #000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.836);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 20px 40px 40px #00000033;*/
    padding: 10px;
}

.navbar-nav .nav-item .nav-link{
    color: white;
    margin-left: 50px;
}

.navbar-brand{
    color: white;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.container-fluid .navbar-toggler{
    background-color: white;
}

.welcome{
    display: none;
}

.carousel{
    display: block;
}

.text{
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    font-family: 'Nunito Sans', sans-serif;
}

.text2{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin-left: 60px;
    color:rgba(0, 0, 0, 0.425);
}

h4{
    margin-top: 50px;
    font-size: 35px;
}

hr{
    width: 80px;
    border-top: 6px solid rgb(255, 94, 0);
}

.moneda{
    margin-top: -40px;
    margin-left: 30px;
}

.pie{
    width: 100%;
    height: 160px;
    background-color: orange; 
    position: sticky; 
}
.copy{
    padding-top: 20px;
    color: azure;
    text-align: center;
}
.desp{
    margin-top: 1px;
    color: azure;
    text-align: center;
}

.desp a{
    color: azure;
    text-decoration: none;
}
.icons{
    color: azure;
    text-align: center;
    font-size: 30px;   
    text-decoration: none;
}

.carousel-item h5{
    transform: translateY(-140%);
    position: sticky;
    font-size: 110px;
    color: white;
}

.carousel-item p{
    
    margin-bottom: 86px;
    position: sticky;
    font-size: 20px;
    color: white;
}

/* Responsive */

@media only screen and (max-width:1140px){

    .carousel-item h5{
        top:650px;
        color: whitesmoke;
    }
}


@media only screen and (max-width:768px){

    .carousel-item h5{
        position: sticky;
        font-size: 90px;
        color: white;
    }

    .carousel-caption p{
        top: 32px;
        font-size: 16px;
        color: white;
    }

    .card{
        width: 100%;
    }
}

@media only screen and (max-width:760px){
    .carousel{
        display: none;
    }

    .welcome{
        display: flex;
        font-size: 280px;
        margin-left: 10%;
        transform: translateY(180%);
    }
}

@media only screen and (max-width:390px){
    .carousel{
        display: none;
    }

    .welcome h1{
        display: flex;
        font-size: 25px;
        position: sticky;
        margin-top: 10px;
        color: black;
    }
}